<%= simple_form_for [:teacher, @course] do |f| %>
	<div class="group"><%= f.input :name %></div>
	<div class="group"><%= f.input :goal %></div>
	<div class="group"><%= f.input :needs %></div>
	<div class="group"><%= f.input :description %></div>

	<%= f.submit "Submit", data: {disable_with: "Submitting..."} %>

<% end %>
