<div class="pull-right">
    <%= link_to("Add a Course", new_teacher_course_path, :class => "btn btn-default" ) %>
</div>


<table class="table table-boldered">
  <% if @courses.present? %>
    <% @courses.each do |course| %>
    <tr>
        <td>
            <%= link_to(course.name, teacher_course_syllabus_path(course)) %>
        </td>
        <td>
            <%= link_to("Edit", edit_teacher_course_path(course)) %>
            <%= link_to("Destroy", teacher_course_path(course), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
        </td>
        <td>
            <%= course.created_at %>
        </td>
    </tr>
    <% end %>
  <% end %>
</table>
