<div class="xxt-content">



  <div class="course-content">
    <div class="dashboard-tab col-xs-12">
      <ul class="nav nav-tabs">
        <li class="title active"><a class="title active" href="/dashboard">课程标题</a></li>
      </ul>
    </div>

    <div class="syllabus">
      <div class="pull-right">
        <%= link_to("增添章节", new_course_section_path(@course), :class => "btn green-btn" ) %>
      </div>


     <% @sections.each do |section| %>
       <table class="table-striped">
         <thead>
          <tr>
            <td class="section-name" colspan="4">
              <h3><%= section.name %></h3>
            </td>
            <td>
              <%= link_to("Edit", edit_course_section_path(@course, section), class: "btn btn-primary btn-xs") %>
      				<%= link_to("Delete", course_section_path(@course, section), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "确定要删除该章节吗？\n#{section.name}" }) %>
            </td>
          </tr>
         </thead>
         <tbod>
           <tr><td><a href="">post name1</a></td></tr>
           <tr><td><a href="">post name2</a></td></tr>
           <tr><td><a href="">post name3</a></td></tr>
         </tbod>
       </table>

      <% end %>
      <div class="pull-right" style="margin-bottom: 25px;">
        <%= link_to("增添章节", new_course_section_path(@course), :class => "btn green-btn" ) %>
      </div>

    </div>

  </div>


</div>
